In [24]:
!pip install faker random2

Requirement already satisfied: faker in /opt/conda/lib/python3.11/site-packages (36.1.0)
Collecting random2
  Downloading random2-1.0.2-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: tzdata in /opt/conda/lib/python3.11/site-packages (from faker) (2025.1)
Downloading random2-1.0.2-py3-none-any.whl (12 kB)
Installing collected packages: random2
Successfully installed random2-1.0.2

In [26]:
import psycopg2, random
from faker import Faker
fake = Faker()
connect_postgres = {
    'dbname': 'postgres',
    'user': 'uuser',
    'password': 'p@ssatB5',
    'host': 'postgres',
    'port': '5432'
}
try:
    # соединение с базой данных
    connection = psycopg2.connect(**connect_postgres)
    cursor = connection.cursor()
    
    test_table = '''
    CREATE TABLE IF NOT EXISTS test_table1 (
        id SERIAL PRIMARY KEY,
        name VARCHAR(100),
        value INTEGER
    );
    '''
    # Выполняем запрос
    cursor.execute(test_table)
    connection.commit()
    
    print("Таблица test_table успешно создана.")
    
    # наполняем тестовыми данными
    test_data = []
    for i in range(100000):
        test_data.append((fake.first_name(),random.randint(10000,1000000)))
    # осуществляем вставку в таблицу
    insert_query = '''
    INSERT INTO test_table1 (name, value) VALUES (%s, %s);
    '''
    
    cursor.executemany(insert_query, test_data)
    connection.commit()
    
    print("Тестовые данные успешно вставлены.")
    
    # # вывод данных
    # select_query = 'SELECT * FROM test_table;'
    # cursor.execute(select_query)
    
    # получение всех строк из ответа
    # records = cursor.fetchall()
    
    # print("Данные из таблицы test_table:")
    # for row in records:
    #     print(f"id: {row[0]}, name: {row[1]}, value: {row[2]}")
    connection.commit()   
    # # теперь удаляем таблицу
    # drop_table_query = 'DROP TABLE IF EXISTS test_table;'
    # cursor.execute(drop_table_query)
    # connection.commit()
    
    # print("Таблица test_table успешно удалена!")
    
except Exception as error:
    print("Произошла ошибка:", error)
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Таблица test_table успешно создана.
Тестовые данные успешно вставлены.

In [2]:
!jupyter server list

Currently running servers:
http://2dfb6927f5d3:8888/user/admin/?token=d2f07bb186664a95be2fb9607e02d636 :: /home/jovyan/work

In [6]:
import random

In [7]:
print(random.randint(10000,1000000))

536494

In [15]:
    if cursor:
        cursor.close()
    if connection:
        connection.close()